services:
  db:
    image: postgres:15-alpine
    container_name: movie_rating_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGPASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: movie_rating_app
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PGPASSWORD: ${POSTGRES_PASSWORD}
      DEBUG: ${DEBUG}
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
      - ./alembic:/app/alembic
      - ./scripts:/app/scripts
    entrypoint: ["/bin/sh", "/app/entrypoint.sh"]

volumes:
  postgres_data:
